<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="ros2_control_joint" params="joint_name effort_lim initial_value">
        <joint name="${joint_name}">
            <command_interface name="effort">
                <param name="min">${-effort_lim}</param>
                <param name="max">${ effort_lim}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">${initial_value}</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </xacro:macro>


    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <xacro:ros2_control_joint joint_name="JOINT_1" effort_lim="10" initial_value="-0.0"></xacro:ros2_control_joint>
        <xacro:ros2_control_joint joint_name="JOINT_2" effort_lim="10" initial_value=" 0.0"></xacro:ros2_control_joint>
        <xacro:ros2_control_joint joint_name="JOINT_3" effort_lim="10" initial_value=" 0.0"></xacro:ros2_control_joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find robot_control)/config/gazebo/arm_controller.yaml</parameters>
        </plugin>
    </gazebo>
</robot>
